body {
    background-color: #ededed !important;
    height: 100vh;
}

/*button#show-filter {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*margin: 0 0.5% 15px;*/
    /*padding: 5px 20px;*/
    /*background-color: #ededed;*/
    /*color: #000;*/
    /*border: 1px solid #000;*/
    /*z-index: 9;*/
    /*border-radius: 3px;*/
    /*transition: all 0.3s ease-in-out;*/
    /*position: relative;*/
/*}*/
button#show-filter {
    display: flex;
    align-items: center;
    margin: 0 0.5% 15px;
    padding: 5px 20px;
    background-color: #ededed;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

/*button#show-filter.fixed {*/
    /*position: fixed;*/
    /*top: 160px;*/
    /*left: -40px;*/
    /*margin: 0;*/
    /*transform: rotate(270deg);*/
/*}*/
button#show-filter.fixed {
    position: fixed;
    top: 160px;
    left: -40px;
    margin: 0;
    z-index: 9;
    transform: rotate(270deg);
}

button#show-filter > .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url('../images/icon_filter.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

button#show-filter:focus {
    outline: none;
}
.intro-wrapper button#show-filter {
    margin: 100px auto;
    transition: all 0s ease-in-out;
}
.intro-wrapper button#show-filter.fixed {
    position: fixed;
    top: 100px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
}
@media(max-width: 991px) {
    .intro-wrapper button#show-filter {
        /*margin: 50px auto;*/
        margin: 20px auto 35px;
    }
}
@media(max-width: 768px) {
    .intro-wrapper button#show-filter {
        /*margin: 50px auto;*/
        margin: 20px auto 25px;
    }
}
/*#hammer-open {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*opacity: 0;*/
    /*width: fit-content;*/
    /*z-index: 1;*/
    /*display: none;*/
    /*align-items: center;*/
/*}*/
#hammer-open {
    position: fixed;
    justify-content: center;
    top: 0px;
    left: 0;
    height: 130px;
    right: 0;
    opacity: 1;
    z-index: 1;
    display: none;
    align-items: center;
}
/*#hammer-open .hammer-line {*/
    /*position: absolute;*/
    /*top: 90px;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 3px;*/
    /*background-color: #7c878e;*/
/*}*/
#hammer-open .hammer-line {
    position: absolute;
    top: 90px;
    left: 0;
    height: 3px;
    right: 0;
    background-color: #7c878e;
}
/*#hammer-open .message {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*background-color: #7c878e;*/
    /*padding: 11px 28px;*/
    /*color: #fff;*/
    /*font-size: 12px;*/
    /*text-transform: uppercase;*/
    /*transform: rotate(270deg);*/
    /*margin-left: -65px;*/
/*}*/
#hammer-open .message {
    display: flex;
    align-items: center;
    background-color: #7c878e;
    padding: 11px 28px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 90px;
}
#hammer-open .message > i {
    background-image: url(../images/swipe-right.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: block;
    transform: rotate(90deg);
    animation-name: swipe-signal;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes swipe-signal {
    from {transform: translateY(-2px) rotate(90deg);}
    to {transform: translateY(2px) rotate(90deg);}
}

#categories-drawer {
    position: fixed;
    top: 200px;
    bottom: 0;
    left: 0;
    width: 350px;
    background-color: #fff;
    z-index: 999999999;
    visibility: visible;
    box-shadow: 2px 0px 13px -2px rgba(0,0,0,0.45);
    overflow-y: hidden;
    transition: visibility 0s, all 0.3s ease-in-out;
}

#categories-drawer .drawer-container {
    overflow: auto;
    padding: 10px 25px;
    height: 100%;
}

#categories-drawer .drawer-head {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#close-drawer-button {
    background-image: url('../images/close-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#close-drawer-button:focus {
    outline: none;
}

#categories-drawer .drawer-head {
    background-color: #d6d6d6;
}

#categories-drawer .drawer-head .title {
    margin: 0;
    font-size: 14px;
}

#categories-drawer.hidden {
    left: -300px;
    visibility: hidden;
}

#categories-inputs .child-cats,
#categories-inputs .child-cats .grand-child-cats {
    margin-left: 30px;
}

/* checkboxes */

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-size: 17px;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    border: 1px solid #a2a2a2;
    border-radius: 2px;
    width: 14px;
    height: 14px;
    transition: .2s;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

.checkbox + label:hover:before {
    background-color: #efefef;
}

.checkbox:checked + label:before {
    content: '✓';
    background-color: #a2a2a2;
}

/* gallery-wrapper */

.post-items-wrapper {
    width: 100%;
}

.post-items-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.post-items-wrapper > .post-item {
    width: 32%;
    float: left;
    min-height: 120px;
    margin: 0 0.5% 0.5%;
    position: relative;
    display: block;
    overflow: hidden;
}

/* image-container */

.post-items-wrapper > .post-item > .post-item_cart > .post-item_cart-front > img,
.post-items-wrapper > .post-item > img {
    width: 100%;
}

.post-items-wrapper > .post-item > .post-item_cart > .post-item_cart-front > .links-container,
.post-items-wrapper > .post-item > .links-container {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: white;
    color: black;
    opacity: 0.8;
    text-align: center;
    padding: 15px 5px;
}

.post-items-wrapper > .post-item .cat-links {
    display: none;
}
@media(max-width: 767px) {
    .post-items-wrapper > .post-item .cat-links {
        display: block;
    }
}
.post-items-wrapper > .post-item:hover .cat-links {
    display: block;
}

.post-items-wrapper > .post-item .post-title {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2;
}

.post-items-wrapper > .post-item .category-link {
    white-space: nowrap;
    font-size: 14px;
    display: inline-block;
}

.post-items-wrapper > .post-item .category-link:last-child::after {
    content: none;
}

.post-items-wrapper > .post-item .divider {
    margin-left: -5px;
}

.post-items-wrapper > .post-item .post-link:hover {
    text-decoration: none;
}

/* load-more-button */

#load-more-button {
    margin: 30px auto;
    display: block;
    border: none;
    cursor: pointer;
    background-color: #7c878e;
    color: white;
    font-size: 19px;
    padding: 15px 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

#load-more-button:hover {
    background-color: #646d73;
}

#load-more-button:active {
    transform: translateY(2px);
}

#load-more-button:focus {
    outline: none;
}

/* media */

@media only screen and (max-width: 768px) {
    .post-items-wrapper > .post-item {
        width: 49%;
    }

    #show-filter {
        /*display: none !important;*/
    }

    #hammer-open {
        /*display: flex;*/
        display: none;
        opacity: 1;
    }

    .content-page-header {
        margin-bottom: 20px !important;
        height: fit-content !important;
    }

    .content-page-header.blog {
        padding-top: 35px !important;
    }

    #categories-drawer {
        top: 90px;
    }
}
@media(max-width: 360px) {
   /* .post-items-wrapper > .post-item {
        width: 100%;
    } */
}
@media only screen and (max-width: 576px) {
    .post-items-wrapper > .post-item {
        width: 100%;
    }

    .content-page-header .intro-wrapper {
        width: 100% !important;
    }

    .content-page-header .intro-wrapper.blog h1 {
        font-size: 18px !important;
    }

    .content-page-header .intro-wrapper.blog .intro-text {
        font-size: 16px !important;
        width: 100% !important;
    }
}
.magazine-filter {
    position: relative;
    max-width: calc(100% - 250px);
    height: auto;
    margin: 0;
    float: right;
    display: block;
    text-align: center;
}
@media(min-width: 992px) {
    .magazine-filter {
        padding: 15px 0 10px;
    }
}
.header__autoheight > .header {
    height: unset;
    padding: 0;
    overflow: hidden;
}
.header__autoheight > .header > .site-width {
    margin: 0 auto;
}
.header__autoheight > .header .logo {
    line-height: 0;
    margin: 15px 2% 10px;
    float: left;
}
@media(max-width: 991px){
    .header__autoheight > .header {
        height: unset;
        padding: 0;
        overflow: hidden;
        border-bottom: 5px solid #7c878e;
    }
    .header__autoheight > .header .logo {
        line-height: 0;
        margin: 10px 2%;
    }
    .header__autoheight > .header > .site-width {
        padding: 0;
    }
    .magazine-filter {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        clear: both;
        float: none;
        max-width: 100%;
        overflow: hidden;
    }
}
.magazine-filter-item {
    position: relative;
    display: inline-block;
    height: 24px;
    margin: 10px 5px;
    /*cursor: pointer;*/
    transition: all .3s;
    z-index: 1;
}
.magazine-filter-item > span {
    position: relative;
    padding: 5px 20px;
    border: 1px solid #7c878e;
    text-transform: uppercase;
    cursor: pointer;
}
.magazine-filter-item > span.active {
    background-color: lightgray;
    transition: background-color 200ms;
}
.magazine-filter-item.open {
    position: static;
}
.magazine-filter-item.open > span {
    position: relative;
    background-color: #ededed;
}
.magazine-filter-item.open > span:after {
    content: '';
    display: block;
    position: absolute;
    top: 32px;
    left: 50%;
    -webkit-transform: translate(-45%, 0);
    -moz-transform: translate(-45%, 0);
    -ms-transform: translate(-45%, 0);
    -o-transform: translate(-45%, 0);
    transform: translate(-45%, 0);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
    height: 8px;
    background-color: #ededed;
    z-index: 3;
}
@media(max-width: 991px) {
    .magazine-filter.magazine-filter_close {
        height: 0;
    }
}
.border-transparent {
    border-color: transparent !important;
}
.magazine-subfilter {
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 5px;
    background-color: #ededed;
    border: 1px solid #7c878e;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}
.magazine-filter-item.opened > .magazine-subfilter {
    display: block;
    height: 0;
    border: 0;
    padding: 0;
    transition: .3s;
}
.magazine-filter-item.open > .magazine-subfilter {
    display: block;
    height: 0;
    padding: 0;
}
.magazine-filter-subitem {
    z-index: 2;
}
.has-child-item > span {
    padding-left: 30px;
}
.has-child-item > span:before {
    content: '\f1db';
    color: #7c878e;
    font-family: FontAwesome;
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
}
.has-child-item.all-selected > span {
    background-color: lightgray;
}
.has-child-item.all-selected > span:before {
    content: '\f05d';
}
.has-child-item.some-selected > span:before {
    content: '\f192';
}
.content-page-header.blog {
    padding-top: 0 !important;
    height: 40vh;
}
.post-items-wrapper > .post-item {
    perspective: 900px;
    overflow: visible;
}
.post-items-wrapper > .post-item:hover {
    z-index: 1;
}
@media(max-width:767px) {
    .post-items-wrapper > .post-item {
        margin-bottom: 10px;
    }
}
.post-item_cart {
    position: relative;
    z-index: 1;
    font-size: 0;
    transition: .2s;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
}
@media(max-width: 767px) {
    .post-item_cart {
        overflow: hidden;
    }
}
@media(min-width: 992px) {
    .post-item_cart:hover {
        box-shadow:2px -2px 10px;
        transform: rotateY(5deg) scale(1.02) translate(0vw, 0vh);
    }
    .post-item_cart:hover .post-item_cart-front > img {
        border: 1px solid transparent;
    }
}
.post-item_cart .cat-links {
    font-size: 16px;
}
.post-item_cart-front {
    width: 100%;
    height: 100%;
    min-height: 120px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    backface-visibility: hidden;
}
@media(max-width: 767px) {
    .post-item_cart-front {
        /*box-shadow: rgb(0, 0, 0) -5px 0px 40px 0px;*/
        box-shadow: #7b7b7b -5px 0px 15px 0px;
        z-index: 2;
    }
}
.post-item_cart-front > img {
    backface-visibility: hidden;
}
.post-item_cart-open-back {
    display: none;
}
@media(min-width: 768px) {
    .post-item_cart-open-back {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        width: 85px;
        height: 35px;
        /*border-radius: 50%;*/
        border: 3px solid #63666a;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:
                0px 0px 0px -10px #fff inset;/*,*/
                /*0px 0px 40px -5px #fff;*/
        transition: 1s;
        font-size: 16px;
        color: #63666a;
        font-weight: 900;
        cursor: pointer;

    }
    .post-item_cart-open-back:hover {
        box-shadow:
                0px 0px 40px 10px #fff inset,
                0px 0px 20px 5px #fff;
    }
    .post-item_cart-open-back > i {
        color: #63666a;
        font-size: 18px;
        line-height: 35px;
    }
}
@media(min-width: 992px) {
    .post-item_cart-open-back {
        opacity: 0;
    }
    .post-item_cart-back:hover .post-item_cart-open-back,
    .post-item_cart-front:hover .post-item_cart-open-back {
        opacity: 1;
    }
}
.post-item_cart-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 16px;
    color: #000;
    background-color: lightgray;
}
@media(min-width: 768px) {
    .post-item_cart-back {
        backface-visibility: hidden;
        transform: rotateY(180deg);
        overflow: hidden;
    }
    .post-item_cart-back:hover {
        overflow: visible;
    }
    .post-item_cart-back:hover .post-item_cart-back-content {
        box-shadow:2px -2px 10px;
    }
}
/*@media(max-width: 767px) {*/
    /*.post-item_cart-back {*/
        /*overflow: scroll;*/
    /*}*/
/*}*/
.post-item_cart-back-content {
    position: relative;
    min-height: 100%;
    padding: 45px 30px 10px;
    background-color: inherit;
    transition: .3s;
    overflow: hidden;
    text-indent: 20px;
}
@media(max-width: 767px) {
    .post-item_cart-back-content {
        padding-right: 45%;
        max-height: 100%;
    }
    .post-item_cart-back-content:after {
        content: '';
        display: block;
        height: 120px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to top, lightgray 45%, rgba(0,0,0,0) 90%);
    }
}
.post-item_cart-back-content > .post-item_share-links {
    text-align: center;
    text-indent: 0;
}
@media(min-width: 992px) {
    .post-item_cart-back-content > .post-item_share-links {
        opacity: 0;
        transition: 2.5s;
    }
    .post-item_cart-back:hover .post-item_cart-back-content > .post-item_share-links {
        opacity: 1;
    }
}
@media(max-width: 767px) {
    .post-item_cart-back-content > .post-item_share-links {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        padding-right: 5%;
    }
}
.post-item_cart-back-content > .post-item_share-links > a {
    display: inline-block;
    margin-right: 10px;
    transition: .3s;
    text-indent: 0;
    font-size: 35px;
    color: #7c878e;
}
.post-item_cart-back-content > .post-item_share-links > a:last-child {
    margin-right: 0;
}
.post-item_cart-back-content > .post-item_share-links > a:hover {
    color: #000;
}
@media(min-width: 768px) {
    .post-item_cart-back-content__bottomhide:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, lightgray 50%, rgba(0,0,0,0) 90%);
    }
    .post-item_cart__reverse {
        transform: rotateY(-180deg) !important;
        box-shadow: none !important;
    }
    .post-item_cart__reverse .links-container {
        display: none;
    }
}
.post-item_cart-back > .post-item_cart-back-content > .post-item_readmore {
    display: block;
    width: 120px;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    border: 1px solid #7c878e;
    transition: .2s;
    text-indent: 0;
    text-align: center;
}
.post-item_readmore:hover {
    background-color: white;
    text-decoration: none;
}
@media(max-width: 767px) {
    .post-item_cart-back > .post-item_cart-back-content > .post-item_readmore {
        position: absolute;
        bottom: 0px;
        left: 10px;
        z-index: 1;
    }
}