.slicknav_menu {
    display:none;
}
.quote-box{background-size:cover;background-repeat:no-repeat;}
.logo img{width:200px;}
.hero-image-width  {
    background-attachment:fixed;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.theExperience {
    padding-top: 100px;
    padding-bottom: 200px;
}
@media screen and (max-width: 1280px) {
/*    .content-page-header {
        padding-top: 170px;
        min-height: 460px;
    }*/
.content-page-header .intro-wrapper.no-intro { padding-top: 15% !important; }
}

@media screen and (max-width: 1185px) {
    .logo img{width:100%;}
    /* #menu is the original menu */
    .js #menu-main-menu {
        display:none;
    }

    .js .slicknav_menu {
        display:block;
    }
    .site-width{width:100% !important;padding:0 2%;}
    .subscribe-text{display:none;}
    .subscribe-wrap .form-wrapper{    width: 72%;}
    .logo{float:left;}
    #mobile-nav{
        float: right;
        width: 63%;
        display: block;
    }
    li.contact {margin-right: 0 !important;}
    .slicknav_menu{background:transparent !important;}
    .slicknav_menu ul.slicknav_nav{        
        opacity: 0.8;
        background-color: white;
        margin-top: 21px;
        float: left;
        width: 100%;
        text-align: center;
    }
    .slicknav_menu ul.slicknav_nav li a{
        color:black;
    }
    iframe{max-width:100%;}
    .wpb_video_wrapper{position:static !important;padding:0; padding-top:56% !important; float:left;}
    .quote-box{background-position:left center !important;background-repeat:no-repeat;}
    .personal-box{margin-left:4px;}
    .cta-buttons a {
        float: left;
        text-decoration: none;
        letter-spacing: 2px;
        width: 100% !important;
        padding: 15px 0px !important;
        text-align: center;
        margin-bottom: 10px !important;
    }
    .sub-footer .clickers{width:100%;text-align:center;}
    .the-team-wrapper .team-filters span{margin:5px;}
    .the-team-wrapper .team-members .staff-item{width:330px !important;}
    .related-posts .blogpost-item{
        float: left;
        width: 31%;
        display: block;
        margin: 0 5px 5px;
        position: relative;
        min-height: 326px;
    }
    .gallery-wrapper .gallery-item{width:48% !important;}
    .gallery-wrapper-listing{width:100%;}
    .gallery-wrapper-listing .gallery-item-listing{width:100%;}
    .blogpost-wrapper .blogpost-item{width:47%;}
    .photo-package{background-position: center center !important;}
/*    .content-page-header { margin-top: 60px; padding-top: 90px; min-height: 320px;}*/
    .subscribe-wrap { height: auto !important; }
    
    .event-holder-modal .image-holder { height: 70%; }
    .event-holder-modal .content-holder { height: 30%; }
    
    .pricing-table-column { width: 49%; }

    .down-button-wrapper {display: none;}
    .content-page-header .intro-wrapper.no-intro { padding-top: 12% !important; }


    .mobile-nav {display: block !important;}
    .ubermenu-retractor {display: none !important;}
    .slicknav_btn {margin: 10px 0 0 0 !important;}

    #ubermenu-main-2-main-nav, .ubermenu-responsive-toggle  {display: none !important;}

    nav.slicknav_nav {width:100% !important;float: none !important;background-color: white;padding: 0;margin: 0;left: 0;top:90px;position: absolute;}


    .slicknav_parent {position: relative;}
    .slicknav_nav .slicknav_arrow {padding: 8px;position: absolute; right:15px; top: 0;text-align: right;}
    .slicknav_nav .slicknav_item {display: inline-block !important;}
    .slicknav_nav .slicknav_item:hover {background-color: white !important;}
    .slicknav_nav a:hover {background: white !important;}

    .header nav > ul > li > ul {margin-left: 15px !important;}
    .header nav > ul > li > ul > .ubermenu-item {width: auto !important;}
    .header nav > ul > li > ul > li > ul {display: block !important;margin-left: 10px !important;background-color: white !important;}
    .header nav > ul > li > ul > li > ul > li {position: relative;}
    .header nav > ul > li > ul > li > ul > li > a {margin-left: 0 !important;padding: 0 !important;background-color: white;}
    .header nav > ul > li > ul > li > ul > li > a > a {font-size: 12px;}
    .header nav > ul > li > ul > li > ul > li > a .slicknav_arrow {font-size: 10px;padding: 6px;right: 20px;}
    .header nav > ul > li > ul > li > ul > li > a:hover {background-color: white;opacity: 0.7;}
    .header nav > ul > li > ul > li > ul > li > a > span {font-size: 12px;margin: 0 !important;}
    .header nav > ul > li > ul > li > ul > li > a > span:after {display: none;}
    .header nav > ul > li > ul > li > ul > li > ul {background-color: white !important;margin-left: 5px;}
    .header nav > ul > li > ul > li > ul > li > ul > li {text-align: left;background: white;width: auto !important;}
    .header nav > ul > li > ul > li > ul > li > ul > li a {text-align: left;padding: 0 !important; margin: 0 !important;background: white;}
    .header nav > ul > li > ul > li > ul > li > ul > li a:hover {background-color: white !important;}
    .header nav > ul > li > ul > li > ul > li > ul > li a img {display: none !important;}
    .header nav > ul > li > ul > li > ul > li > ul > li a span {margin: 0 !important;font-size: 11px;}
    .header nav > ul > li > ul > .ubermenu-item a {width: 100% !important;float: none !important;text-align: left !important;padding: 5px;}
    .header nav > ul > li > ul > .ubermenu-item a img {display: none !important;}
    .header nav > ul > li > ul > .ubermenu-item a span {font-size: 12px;margin: 0 !important;text-align: left !important;display: block;}


    .header nav a:hover {background-color: transparent !important;opacity: 0.7;}
    .header nav a:hover .slicknav_arrow {color:black;opacity: 0.7;}

    .homepage-video .homepage-video-content h2 {font-size:36px;}
    .homepage-video .homepage-video-content h3 {font-size:26px;}
    .homepage-video .homepage-video-content .video-buttons a {font-size:12px;}
}

@media screen and (max-width: 960px) {

    .homepage-featured-links {padding:100px 20px 60px;}
    .homepage-featured-links h2 {font-size:40px;}
    .homepage-featured-links a {font-size:14px;}
}

@media screen and (max-width: 40em) {
/*    .content-page-header{
        background-attachment: fixed;
        background-position: top;
    }*/
	
	.homepage-video .homepage-video-content h2 {
		font-size: 28px!important;
	}
	.homepage-video .homepage-video-content .video-buttons a {
        font-size: 14px!important;
    }
	.homepage-video .homepage-video-content {
		top: 15%!important;
	}

    .content-page-header .fancy {
        display: none;
    }

    .footer ul{display:block;}
    .footer ul li{float:left;width:100%;display:block;}
    .site-width{width:100% !important;}
    .logo{width:200px;text-align:center;}
    #mobile-nav{
        float: right;
        width: 100%;
        display: block;        
    }
    .header{height:auto;}
    .slicknav_btn{position: absolute !important;top: 25px;right: 10px;}
    .clickers{
        float: left;
        width: 100%;
        text-align: center !important;
        margin-top: 12px;
    }
    .sub-footer p{text-align:center;}
    .quote-box .quote-text {font-size:20px;}
    .hero-image-width{height:250px;

                      background-attachment:scroll;
    }
    .wpb_video_wrapper {
        padding-top: 330px !important;
    }
    .wpb_video_wrapper iframe{
        width: 100%!important;
        height: 330px !important;
        float: none;
        margin: auto !important;
        display: block !important;
        left: 0 !Important;
    }
    .personal-box{
        width: 103%;
        margin: 0 !important;
        padding: 0 !important;
        float: left;
        display: block;
        background-position: center center !Important;
        text-align: center !important;
    }
    .model-box{
        float: left;
        width: 103%;
        display: block;
        margin: 10px 0 0 0 !important;
        padding: 0 !important;
    }
    .personal-hero-text, .model-hero-text{
        width: 100% !important;
        padding: 148px 0 0 0 !important;
    }
    .vc_custom_1442395692522{height:330px;}
    .subscribe-wrap{height:auto !important;}
    .subscribe-wrap .form-wrapper{
        float:left !important;width:100%!important;display:block!important;
    }
    .subscribe-wrap .form-wrapper .gform_button{
        float: right;
        margin: 0;
        padding: 0;
        position: relative;
        top: -53px;
    }
    .social-wrapper{
        float: none !important;
        margin: auto !important;
        display: block;
        width: 79% !important;
    }
    .home-carousel-large{font-size:23px !important;}
    .carousel-home-italic i{font-size:20px !important;}
    .carousel-home-italic{top:9px;}
    .carousel-button{top:15px;}
    .carousel-button a{font-size:12px !important;}
    #btn-1-home{left:-100px;}
    .vc_btn3{margin-bottom:15px !important;}
    .the-team-wrapper .team-members .staff-item{width:100% !important;margin-left:0 !important;margin-right:0 !important;}
    .related-posts .blogpost-item{width:97%;min-height:auto;}
    .gallery-wrapper .gallery-item{width:100% !important;margin-left:0;margin-right:0;}
    .blogpost-item {width:100% !important; margin-left:0!important;margin-right:0!important;}
    .blog-filters a, .blog-filters span{margin-bottom:5px;}
    .photo-package{width:100%;margin:0 0 10px 0 !important;}
    .vc_custom_1443490214422{width:100% !important;margin:0 !important;display:block !important;}
    #btn-1-home { left: 0px !important; }
/*    .content-page-header { min-height:0; height: initial; padding-top: 92px;}

    .content-page-header.blog { height: auto; }*/
    .gallery-wrapper .gallery-item { margin: 0px !important; }
    .blog-filters { margin-bottom: 20px !important; }
    .blog-filters a { margin: 5px 5px !important; }
/*    .content-page-header .intro-wrapper { width: 95%; height: auto; }*/
    .gallery-wrapper-listing .gallery-item-listing { max-width: 100%; }
/*    .content-page-header.blog { padding-top: 40px !important; }
    .content-page-header .intro-wrapper.blog .intro-text { font-size: 20px !important; }*/
    .blog-video { padding-bottom: 140px; }
    .home-carousel-large { line-height: 30px !important; top: -35px; color: black !important; text-shadow: 1px 1px 30px rgb(255, 255, 255) !important; }
    .carousel-home-italic { color: black !important; text-shadow: 1px 1px 30px rgb(255, 255, 255) !important; }
    .carousel-button { margin-top: 25px !important; }
/*    .content-page-header { min-height: 50px !important; padding-top: 30px !important; }*/

    .buy-print.download{ float:none !important; width:94%;}
    .event-holder-modal .socials .share-icons-wrapper{
        text-align: center !important;
        padding-right: 44px;
        margin-top: 0px !important;
    }

    .carousel-holder .vote-button, .event-holder-modal .vote-button{
        width: 94% !important;
        margin-left: 0 !important;
    }
    .carousel-holder .buy-print, .event-holder-modal .buy-print{
        width:94% !important;
    }
    .carousel-holder, .event-holder-modal{
        background-position:top !important;
    }
    
    .voting-box{
        width:90%;
        left:5%;
    }
    .pricing-table-column { width: 100%; }
    
    .event-holder-modal .image-holder { height: 55%; background-position: top center; }
    .event-holder-modal .content-holder { height: 45%; }
 
    .theExperience {
        height: auto !important;
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }
    .experience { background-attachment: initial !important; }
    .experienceContainer .desktop { display: none; }
    .experienceContainer .mobile { display: inline-block; }
    
    .content-page-header { 
        margin-bottom: -5%;
        height: 65vh !important;
        display: flex!important;
        align-items: center;
    }
    @media(max-width: 767px) {
        .content-page-header {
            height: 45vh !important;
        }
    }
    .content-page-header .intro-wrapper.no-intro {
        padding-top: 0% !important;
        width: 80%;
        left: 10%;
    }

    #page-content-mob {
        display: block!important;
    }

    .down-button-wrapper {
        display: block!important;
    }

    #button-talk-down {
        display: inline-block!important;
        font-size: 20px;
        width: 200px;
        border: none;
        cursor: pointer;
        padding: 5px 0;
        font-weight: bold;
        text-transform: uppercase;
        margin: auto;
        text-decoration: none;
    }

    #button-talk-down:focus {
        outline: none;
    }

    #button-arrow-down {
        display: none!important;
    }

    .content-page-header .intro-wrapper.no-intro {
        padding-top: 3%!important;
    }

}

@media screen and (max-width: 560px) { 
    .homepage-video .homepage-video-content h2 {line-height: 1;margin-bottom: 10px;font-size: 12px}
    .homepage-video .homepage-video-content h3 {line-height: 1;font-size: 18px;margin-bottom: 15px;}
    .homepage-video .homepage-video-content .video-buttons a {font-size: 8px;padding: 5px 10px;}
    .homepage-video .homepage-video-content .video-buttons a:first-child {margin-right: 0;}
}