.white-wrap{
    float:left;width:80%;display:block;padding:20px;background-color:white;margin-top:1%;
}

.white-wrap table{

    width:100%;
    text-align:left;
}

.white-wrap table th{
    background-color:#414142;
    color:white;
    padding:5px;
}

.white-wrap table td{
    padding:5px;
}


.white-wrap table tbody tr:nth-child(even){
    background-color:#ededee;
}

.white-wrap button{

    background-color:#53c3bd;
    color:white;
    border:0;
    padding:5px 10px;
}