/* 
    Document   : layout
    Created on : Apr 14, 2014, 3:37:45 PM
    Author     : jesseryles
    Description:
        Purpose of the stylesheet follows.
*/

.slicknav_menu {
    display:none;
}
div.product .single_add_to_cart_button{height:49px !important;}
@media screen and (max-width: 60em) {
    /* #menu is the original menu */
    .js #menu-main-menu, .js #menu-top-header-menu {
        display:none;
    }

    .js .slicknav_menu {
        display:block;
    }
    .container{width:100%;padding:0 2%;}
    .slicknav_menu{background-color:#eeeeee !important;}
    .slicknav_btn{background-color:#e6c8be !important;}
    .slicknav_menutxt{text-shadow:none !important;}
    .slicknav_menu .slicknav_icon-bar{box-shadow:none !important;}
    #header-top-left{padding-top:7px;}
    #header-top-left a{font-size:25px;}
    header #header-bottom #header-bottom-left ul li{line-height:40px;}
    header #header-bottom{height:auto;}
    #header-bottom-left{width:100% !important;}
    #header-bottom-middle{width:100% !important;padding:0 !important;}
    
    header #header-bottom #header-bottom-left ul li ul{top:40px !important;}
    #header-bottom-right{
        position: absolute;
        top: -22px;
        right: 33px;
    }
    #header-bottom{position:relative;}
    .product-box img {
    max-width: 100%;
    height: auto;
}
.instagram-container .instagram-posts .item{width:32%;}
div.product .summary {
    width: 93% !important;
    float: left !important;}
div.product .images{
    width:100% !important;
}
}
@media screen and (max-width: 40em) {
    .container{width:100%;padding:0 2%;}
    .featured-box-large, .featured-box-small{width:100%;margin: 0 0 10px 0 !important;}
    .product-box{width:100% !important;margin-bottom:20px;}
    .instagram-container .instagram-posts .item{width:44%;margin-bottom:5px;}
    .footer-top-box {width:100% !important;}    
    ul.products li {width:48% !important;}
    div.product .images{width:100% !important;}
    div.product .images .thumbnails{
        width: 100% !important;
    }
    div.product .images .thumbnails a{width:33% !important;}
    div.product .summary{width:100% !important;}
    div.product .single_add_to_cart_button{padding-bottom:35px !important;}
   main.blog-post{width:100%;}
   .sidebar{width:100%;}
   #blog-listing .blog-entry{width:100% !important;}
   #header-bottom-middle img{max-width:100%;}
   header #header-bottom #header-bottom-right{position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;}
}